.nghiem-thu-hop-dong-container {
    padding-top: 3px;
    flex: 1;
    padding-bottom: 15px;

    .title {
        display: flex;
        position: relative;
        padding: 9px 0;
        background-color: var(--bs-blue);
        border-radius: 5px;

        .text {
            color: var(--bs-white);
            font-size: 16px;
            font-weight: bold;
            padding-left: 15px;
        }
    }

    .table-nghiem-thu-hop-dong {
        padding: 15px;

        p-table {

            ::ng-deep {
                .p-datatable-wrapper {
                    padding-bottom: 10px;

                    .p-datatable-table {
                        table-layout: fixed;
                        min-width: 250%;
                        padding-right: 1px;
                    }
                }
            }
        }
    }
}