.user-container {

    .breadcrumb {
        height: 30px;

        .breadcumrb-nav {
            display: flex;
            align-items: center;
            column-gap: 10px;
            list-style: none;
            margin-left: 10px;

            .breadcumrb-nav-item {
                display: flex;
                align-items: center;
                justify-self: center;
                font-size: 14px;

                .material-icons {
                    margin-right: 5px;
                    font-size: 14px;
                }

                &:hover .material-icons {
                    color: var(--bs-blue);
                }
            }

            .line-item {
                height: 30px;
                width: 1.5px;
                background-color: var(--bs-white);
            }
        }

        .breadcrumb-line {
            height: 1.5px;
            width: 100%;
            background-color: var(--bs-white);
        }
    }

    .main {
        margin: 0;
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;

        .chart-container {
            display: block;
            background-color: var(--bs-white);
            padding: 20px;
            border-radius: 8px;
            width: 100%;
            opacity: 1;
            transition: transform 10s ease;

            canvas {
                display: block;
                max-width: 100% !important;
                height: auto !important;
            }

            &.pie-chart {
                width: 400px;
                height: 400px;
            }

            &.bar-chart {
                width: 800px;
                height: 400px;
            }
        }

        &.full-width {
            .chart-container {
                width: 100%;
                height: auto;

                canvas {
                    display: block;
                    max-width: 100% !important;
                    height: auto !important;
                }

                &.pie-chart {
                    width: 500px;
                    height: 500px;
                }

                &.bar-chart {
                    width: 950px;
                    height: 500px;
                }
            }
        }
    }


}