<div class="user-container">
    <div class="breadcrumb">
        <ol class="breadcumrb-nav">
            <li class="breadcumrb-nav-item">
                <span class="material-icons">space_dashboard</span>Dashboard
            </li>
        </ol>
        <div class="breadcrumb-line"></div>
    </div>
    <div class="main" [ngClass]="{'full-width': !isSidebarVisible}">
        <!-- Biểu đồ bar -->
        <div class="chart-container bar-chart" *ngIf="isChartVisible">
            <canvas #barChart baseChart [data]="barChartData" [type]="'bar'" [options]="barChartOptions" [legend]="true"
                (click)="$event.stopPropagation()">
            </canvas>
        </div>

        <!-- Biểu đồ polarArea -->
        <div class="chart-container pie-chart" *ngIf="isChartVisible">
            <canvas baseChart [data]="pieChartData" [type]="'polarArea'" [options]="pieChartOptions" [legend]="true"
                (click)="$event.stopPropagation()">
            </canvas>
        </div>

        <!-- Biểu đồ line -->
        <div class="chart-container bar-chart" *ngIf="isChartVisible">
            <canvas #lineChart baseChart [data]="lineChartData" [type]="'line'" [options]="lineChartOptions"
                [legend]="true" (click)="$event.stopPropagation()">
            </canvas>
        </div>

        <!-- Biểu đồ doughnut -->
        <div class="chart-container pie-chart" *ngIf="isChartVisible">
            <canvas baseChart [data]="pieChartData" [type]="'doughnut'" [options]="pieChartOptions" [legend]="true"
                (click)="$event.stopPropagation()">
            </canvas>
        </div>
    </div>
</div>