.user-container {

    .breadcrumb {
        height: 30px;

        .breadcumrb-nav {
            display: flex;
            align-items: center;
            column-gap: 10px;
            list-style: none;
            margin-left: 10px;

            .breadcumrb-nav-item {
                display: flex;
                align-items: center;
                justify-self: center;
                font-size: 14px;

                .material-icons {
                    margin-right: 5px;
                    font-size: 14px;
                }

                &:hover .material-icons {
                    color: var(--bs-blue);
                }
            }

            .line-item {
                height: 30px;
                width: 1.5px;
                background-color: var(--bs-white);
            }
        }

        .breadcrumb-line {
            height: 1.5px;
            width: 100%;
            background-color: var(--bs-white);
        }
    }

    .main {
        margin: 0;
        padding: 15px 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        // .bar-chart {
        //     width: 600px; // Kích thước cố định cho biểu đồ bar
        //     height: 400px; // Kích thước cố định cho biểu đồ bar
        // }

        .pie-chart {
            display: block;
            box-sizing: border-box;
            width: 304px;
            height: 304px;
        }

        .chart {
            opacity: 0; // Bắt đầu ở trạng thái ẩn
            transform: translateY(20px); // Di chuyển xuống dưới
            transition: opacity 0.5s ease, transform 0.5s ease; // Thêm hiệu ứng

            &.show {
                opacity: 1; // Hiển thị
                transform: translateY(0); // Trở về vị trí ban đầu
            }
        }
    }

}