mat-dialog-content {
    background-color: var(--bs-white);
    box-shadow: 0 4px 20px var(--bs-black-100);

    .title-dialog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;

        h2 {
            font-size: 24px;
            color: var(--bs-black);
        }
    }

    .detail-container {
        display: flex;
        flex-direction: column;
        max-height: 400px;
        padding: 20px 30px;

        .detail-item {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .dialog-actions {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #ccc;

        button {
            margin-top: 20px;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            background-color: var(--bs-blue);
            border-radius: 8px;
            color: var(--bs-white);
            font-weight: bold;

            &:hover {
                background-color: var(--bs-blue-dark);
            }
        }
    }
}