.log-container {

    .breadcrumb {
        height: 30px;
    }

    .main {
        margin: 0;
        padding: 15px 25px;

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 24px;
                color: var(--bs-black);
            }

            .actions {
                display: flex;
                align-items: center;

                .btn-none {
                    height: 32px;
                    margin-left: 10px;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: var(--bs-white);
                    color: var(--bs-blue);
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: var(--bs-blue);
                        color: var(--bs-white);
                    }

                    .material-icons {
                        font-size: 0.8rem;
                        margin-right: 5px;
                    }
                }
            }
        }

        .search-bar {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            padding: 20px 30px;
            background-color: var(--bs-white);
            box-shadow: 0 4px 8px var(--bs-black-100);

            input {
                flex: 1;
                padding: 10px;
                border: 1px solid var(--bs-black-100);
                background-color: var(--bs-gray-200);
                outline: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                font-size: 1rem;
            }

            button {
                width: 50px;
                border: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: var(--bs-blue);
                color: var(--bs-white);
                transition: background-color 0.3s ease;
                padding-top: 5px;

                &:hover {
                    background-color: var(--bs-blue-dark);
                }

                .material-icons {
                    font-size: 1.2rem;
                }
            }
        }


        .table-container {
            background-color: var(--bs-white);
            border-radius: 8px;

            table {
                width: 100%;
                border-collapse: collapse;

                thead {
                    border-radius: 8px;

                    th {
                        padding: 10px;
                        text-align: left;

                        &:first-child {
                            border-top-left-radius: 8px;
                        }

                        &:last-child {
                            border-top-right-radius: 8px;
                        }
                    }
                }

                th,
                td {
                    padding: 10px;
                    border-bottom: 1px solid var(--bs-gray-200);
                }

                tbody {
                    tr {
                        &:hover {
                            background-color: var(--bs-gray-200);
                        }

                        td {
                            .dropdown-toggle {
                                border-radius: 8px;
                                border: none;
                                background: var(--bs-blue);
                                color: var(--bs-white);
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                padding: 6px;
                                font-weight: 550;

                                .material-icons {
                                    font-size: 1.2rem;
                                    color: var(--bs-white);
                                    margin-right: 5px;
                                }

                                &:hover {
                                    background-color: var(--bs-blue-dark);
                                }
                            }

                            .http-request {
                                display: flex;
                                align-items: center;
                                column-gap: 10px;
                                // justify-content: left;

                                .rounded {
                                    padding: 3px 6px;
                                    background-color: var(--bs-gray-300);
                                    border-radius: 8px;
                                    color: var(--bs-white);
                                    font-size: 13px;
                                    font-weight: bold;

                                    &.information,
                                    &.GET {
                                        color: var(--bs-get);
                                        background-color: var(--bs-background-get);
                                    }

                                    &.successful,
                                    &.POST {
                                        color: var(--bs-post);
                                        background-color: var(--bs-background-post);
                                    }

                                    &.redirection,
                                    &.PUT {
                                        color: var(--bs-put);
                                        background-color: var(--bs-background-put);
                                    }

                                    &.error,
                                    &.DELETE {
                                        color: var(--bs-delete);
                                        background-color: var(--bs-background-delete);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .table-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 30px;
                padding-top: 20px;

                .total {
                    color: var(--bs-black);
                    font-size: 16px;
                    margin-top: 15px;
                }
            }
        }
    }
}