# gitignore của code backend
.vs/
# bỏ qua các thư mục này
**/bin/
**/obj/

# gitignore của code frontend
# Frontend specific
/frontend/node_modules
/frontend/dist
/frontend/.angular/cache
# bỏ qua các thư mục sau biên dịch
/dist
/tmp
/out-tsc
/bazel-out

# bỏ quá các thư mục Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db




