@mixin p-paginator-item {
    min-width: 27px;
    padding-left: 3px;
    padding-right: 3px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: 0.3s ease-out;
    border: 1px solid var(--bs-gray-400);
    color: var(--bs-black);
    border-right: unset;
    border-radius: unset;

    &:hover {
        background-color: var(--bs-blue);
        color: var(--bs-white);
    }
}

body {

    // sử lý tất cả text của app
    .p-inputtext,
    .p-dropdown {
        width: 100%;
        height: 30px;
        padding-left: 5px;
        font-size: 14px;
        box-shadow: none;
        color: var(--bs-black);

        &.p-placeholder {
            color: var(--bs-gray);
        }

        &:disabled {
            opacity: 1;
            background-color: var(--bs-gray-200);
            border-radius: 3px;

        }
    }

    // custom dropdown
    .p-dropdown {
        .p-dropdown-label {
            font-size: 14px;
            margin-top: 3px;
            margin-right: 15px;
            padding: 0;
        }

        .p-icon {
            font-size: 20px;
            top: 20%;
        }
    }

    // custom toast
    .custom-toast {
        .p-toast-message {
            margin-top: 10px;
            padding: 6px 10px;

            .p-toast-message-icon {
                margin-right: 5px;
                transform: scale(0.8);
            }
        }

        .p-toast-summary {
            font-weight: bold;
        }
    }

    //custom calendar
    .p-calendar {
        width: 100%;

        .p-icon-wrapper {
            top: 25%;
        }
    }

    // phân trang
    .p-paginator {
        border: none;
        padding-top: 15px;
        justify-content: flex-end;

        .p-paginator-first {
            @include p-paginator-item();
            order: 1;
        }

        .p-paginator-prev {
            @include p-paginator-item();
            order: 2;
        }

        .p-paginator-next {
            @include p-paginator-item();
            order: 4;
        }

        .p-paginator-last {
            @include p-paginator-item();
            border-right: 1px solid var(--bs-gray-400);
            order: 5;
        }

        .p-paginator-pages {
            order: 3;
            display: flex;

            .p-paginator-page {
                @include p-paginator-item();
                transition: none;

                &.p-highlight {
                    background-color: var(--bs-blue);
                    color: var(--bs-white);
                    font-weight: 500;
                }
            }
        }

        .p-highlight {
            background-color: var(--bs-blue);
            color: var(--bs-white);
            font-weight: 500;
        }

        .p-disabled {
            opacity: 0.4;
        }

        .p-paginator-rpp-options {
            @include p-paginator-item();
            margin-right: 15px;
            border-right: 1px solid var(--bs-gray-400);


            &.p-dropdown {
                width: auto;
            }

            &:hover {
                background-color: var(--bs-white);
            }

            .p-inputtext {
                height: auto;
            }

            .p-dropdown-panel {
                position: absolute;
                bottom: 100%;
                transform: translateY(-32px);
                z-index: 1000;

                .p-dropdown-items-wrapper {
                    padding: 0;

                    .p-dropdown-item {
                        border: none;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // custom inputNumber
    .p-inputnumber {
        width: 100%;
    }

    // custom button
    .p-button {
        height: 30px;
        padding: 4px 10px;
        box-shadow: none;
        font-size: 14px;
        margin-left: 5px;
        border: none;

        .material-icons {
            font-size: 18px;
        }
    }

    // click
    .click {
        &:active {
            transform: scale(0.95);
        }
    }

    .delete {
        background-color: var(--bs-red);

        &:hover {
            background-color: var(--bs-red-dark);
        }
    }

    .save {
        background-color: var(--bs-yellow);

        &:hover {
            background-color: var(--bs-yellow-dark);
        }
    }

    .add {
        background-color: var(--bs-blue);

        &:hover {
            background-color: var(--bs-blue-dark);
        }

    }

    // custom table
    .p-datatable-wrapper {

        &::-webkit-scrollbar {
            border-radius: 20px;
            width: 10px;
            height: 10px;
            box-sizing: border-box;
            border: none;
        }

        &::-webkit-scrollbar-track {
            box-sizing: border-box;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: var(--bs-gray-500);
        }

        .p-datatable-table {
            border-bottom: 1px solid var(--bs-gray-400);
            border-top: 1px solid var(--bs-gray-400);
            border-left: 1px solid var(--bs-gray-400);
            font-size: 14px;

            .p-datatable-thead {
                >tr {
                    >th {
                        padding: 5px;
                        font-size: 14px;
                        color: var(--bs-black);
                        font-weight: bold;
                        border-right: 1px solid var(--bs-gray-400);
                        background: var(--bs-gray-200);
                        text-align: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .p-datatable-tbody {
                >tr {
                    &:hover {
                        background-color: #fefaed;
                    }

                    >td {
                        text-align: center;
                        padding: 8px;
                        color: var(--bs-black);
                        border-top: 1px solid var(--bs-gray-400);
                        border-right: 1px solid var(--bs-gray-400);
                        white-space: normal;
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }
}