mat-dialog-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    overflow: hidden;

    .title-dialog {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 24px;
            color: var(--bs-black);
        }
    }

    mat-tab-group {
        margin-bottom: 20px;

        .detail-container {
            display: flex;
            flex-direction: column;
            max-height: 400px;

            .detail-item {
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .dialog-actions {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #ccc;

        button {
            margin-top: 20px;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            background-color: var(--bs-blue);
            border-radius: 8px;
            color: var(--bs-white);
            font-weight: bold;

            &:hover {
                background-color: var(--bs-blue-dark);
            }
        }
    }
}

mat-dialog-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    overflow: hidden;

    .title-dialog {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 24px;
            color: var(--bs-black);
        }
    }

    mat-tab-group {
        margin-bottom: 20px;

        .detail-container {
            display: flex;
            flex-direction: column;
            max-height: 400px;

            .detail-item {
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .rounded {
                    padding: 5px 10px;
                    background-color: var(--bs-gray-300);
                    border-radius: 8px;
                    color: var(--bs-white);
                    font-size: 13px;
                    font-weight: bold;

                    &.information,
                    &.GET {
                        color: var(--bs-get);
                        background-color: var(--bs-background-get);
                    }

                    &.successful,
                    &.POST {
                        color: var(--bs-post);
                        background-color: var(--bs-background-post);
                    }

                    &.redirection,
                    &.PUT {
                        color: var(--bs-put);
                        background-color: var(--bs-background-put);
                    }

                    &.error,
                    &.DELETE {
                        color: var(--bs-delete);
                        background-color: var(--bs-background-delete);
                    }
                }
            }
        }
    }

    .dialog-actions {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #ccc;

        button {
            margin-top: 20px;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            background-color: var(--bs-blue);
            border-radius: 8px;
            color: var(--bs-white);
            font-weight: bold;

            &:hover {
                background-color: var(--bs-blue-dark);
            }
        }
    }
}