mat-dialog-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    overflow: hidden;

    .title-dialog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;

        h2 {
            font-size: 24px;
            color: var(--bs-black);
        }
    }

    .detail-container {
        display: flex;
        flex-direction: column;
        max-height: 400px;
        padding: 20px 30px;

        .detail-item {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}