<div class="user-container">
    <div class="breadcrumb">
        <ol class="breadcumrb-nav">
            <li class="breadcumrb-nav-item">
                <span class="material-icons">home</span>Home
            </li>
        </ol>
        <div class="breadcrumb-line"></div>
    </div>
    <div class="main">
        <div [ngClass]="{'in-active': isActive}" class="left-container">
            <button class="btn-change" (click)="toggleClass()">
                <span class="material-icons">keyboard_double_arrow_left</span>
            </button>
            <div class="title-left">
                <span class="title">Danh sách hợp đồng</span>
            </div>
        </div>
        <div class="right-container">
            <!-- Nội dung right-container -->
        </div>

    </div>
</div>