.contract-container {
    
    color: var(--bs-black);
    font-size: 14px;

    .breadcrumb {
        height: 30px;

        .breadcrumb-nav {
            display: flex;
            align-items: center;
            column-gap: 10px;
            list-style: none;
            margin-left: 10px;

            .breadcrumb-nav-item {
                display: flex;
                align-items: center;
                justify-self: center;
                font-size: 14px;

                .material-icons {
                    margin-right: 5px;
                    font-size: 14px;
                }

                &:hover .material-icons {
                    color: var(--bs-blue);
                }
            }

            .line-item {
                height: 30px;
                width: 1.5px;
                background-color: var(--bs-white);
            }
        }

        .breadcrumb-line {
            height: 1.5px;
            width: 100%;
            background-color: var(--bs-white);
        }
    }

    .main {
        margin: 0;
        padding: 10px 0px 10px 10px;
        display: flex;
        gap: 10px;
        min-height: 720px;
        .left-container {
            position: relative;
            background-color: var(--bs-white);
            flex: 1;
            transition: all 0.3s ease;

            &.in-active {       
                width: 60px;
                flex: none;
                border-radius: 5px;
            }
        }

        .right-container {
            flex: 1.5;
            transition: all 0.3s ease;
        }
    }
}