<div class="contract-container">
  <div class="breadcrumb">
    <ol class="breadcrumb-nav">
      <li class="breadcrumb-nav-item">
        <span class="material-icons">description</span>Hợp đồng
      </li>
    </ol>
    <div class="breadcrumb-line"></div>
  </div>
  <div class="main">
    <!-- phía bên trái -->
    <div class="action-system" [ngClass]="{ 'in-active': isActive }">
      <button class="btn-change" (click)="toggleClass()">
        <span class="material-icons">keyboard_double_arrow_left</span>
      </button>
      <div class="title">
        <span class="text">Danh sách hợp đồng</span>
      </div>
      <app-left-side-contract [ngClass]="{ 'body-left': isActive }" />
    </div>
    <!-- phía bên phải -->
    <div class="content-system">
      <div class="main-action">
        <button class="custom-button click" (click)="onSubmit()" [disabled]="!isAdd">
          <i class="material-icons">add</i>
          Thêm mới
        </button>
        <button class="custom-button click save" [disabled]="isAdd">
          <i class="material-icons">system_update_alt</i>
          Lưu
        </button>

        <button class="custom-button click delete" [disabled]="isAdd" (click)="onSubmit()">
          <i class="material-icons">highlight_off</i>
          Hủy thay đổi
        </button>
        <button class="custom-button click delete" [disabled]="isAdd">
          <i class="material-icons">delete_outline</i>
          Xóa
        </button>
        <button class="custom-button click">Thanh lý</button>
        <button class="custom-button click">
          <i class="material-icons">task</i>
          Quyết toán
        </button>
        <button class="custom-button print click" [disabled]="!isAdd">
          <i class="material-icons">print</i>
          In hợp đồng
        </button>
      </div>
      <div class="body-right">
        <p-tabView [ngStyle]="{ flex: '1', display: 'flex', 'flex-direction': 'column' }">
          <p-tabPanel header="Nội dung">
            <app-noi-dung />
          </p-tabPanel>
          <p-tabPanel header="Phụ lục">
            <app-phu-luc />
          </p-tabPanel>
          <p-tabPanel header="Nghiệm thu hàng hóa">
            <app-noi-dung />
          </p-tabPanel>
          <p-tabPanel header="Chi tiết hàng hóa nghiệm thu">
            <app-noi-dung />
          </p-tabPanel>
          <p-tabPanel header="Thanh lý hợp đồng">
            <app-noi-dung />
          </p-tabPanel>
          <p-tabPanel header="Hợp đồng gốc">
            <app-noi-dung />
          </p-tabPanel>
          <p-tabPanel header="Tiến độ thanh toán">
            <app-noi-dung />
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>