<div class="title-dialog">
    <h2>Chi tiết log</h2>
    <span class="material-icons" (click)="close()">close</span>
</div>
<div class="detail-container">
    <div class="detail-item">
        <strong>Mã trạng thái HTTP:</strong>
        <span class="rounded" [ngClass]="{
            information: log.statusCode >= 100 && log.statusCode <= 199,
            successful: log.statusCode >= 200 && log.statusCode <= 299,
            redirection: log.statusCode >= 300 && log.statusCode <= 399,
            error: log.statusCode >= 400
        }">{{log.statusCode}}
        </span>
    </div>
    <div class="detail-item">
        <strong>Phương thức HTTP:</strong>
        <span class="rounded {{log.method}}">{{log.method}}</span>
    </div>
    <div class="detail-item">
        <strong>URL:</strong>
        <span>{{ log.url }}</span>
    </div>
    <div class="detail-item">
        <strong>Địa chỉ IP của khách hàng:</strong>
        <span>{{ log.clientIpAddress }}</span>
    </div>
    <div class="detail-item">
        <strong>Tên người dùng:</strong>
        <span>{{ log.userName }}</span>
    </div>
    <div class="detail-item">
        <strong>Thời gian:</strong>
        <span>{{ formatDate(log.createdAt) }}</span>
    </div>
    <div class="detail-item">
        <strong>Khoảng thời gian:</strong>
        <span>{{ log.duration }}</span>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="close()">Thoát</button>
</div>