p-inputNumber {
    ::ng-deep {
        .p-inputnumber {
            width: 100%;
        }
    }
}

p-dropdown {
    ::ng-deep {

        .p-dropdown-label {
            font-size: 14px;
            margin-top: 3px;
            margin-right: 15px;

            &.p-placeholder {
                margin-right: 0;
            }
        }

        .p-icon-wrapper {
            font-size: 20px;
            top: 20%;
        }

        .p-dropdown-panel {

            .p-dropdown-header {
                padding: 5px 7px;

                .p-dropdown-filter-icon {
                    display: none;
                }
            }

            .p-dropdown-items-wrapper {
                padding: 5px 7px;

                .ng-star-inserted {
                    font-size: 14px;
                    color: var(--bs-black);
                }
            }
        }
    }
}

p-calendar {
    ::ng-deep {
        .p-calendar {
            width: 100%;

            .p-icon-wrapper {
                top: 25%;
            }
        }
    }
}

p-table {

    ::ng-deep {
        .p-datatable-wrapper {
            padding-bottom: 10px;

            &::-webkit-scrollbar {
                border-radius: 20px;
                width: 10px;
                height: 10px;
                box-sizing: border-box;
                border: none;
            }

            &::-webkit-scrollbar-track {
                box-sizing: border-box;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 20px;
                background-color: var(--bs-gray-500);
            }

            .p-datatable-table {
                border-bottom: 1px solid var(--bs-gray-400);
                border-top: 1px solid var(--bs-gray-400);
                border-left: 1px solid var(--bs-gray-400);
                font-size: 14px;
                table-layout: fixed;
                min-width: 250%;

                // padding-right: 2px;
                .p-datatable-thead {
                    >tr {
                        >th {
                            padding: 5px;
                            text-align: center;
                            color: var(--bs-black);
                            background: var(--bs-gray-200);
                            font-weight: bold;
                            border-right: 1px solid var(--bs-gray-400);
                        }
                    }
                }

                .p-datatable-tbody {
                    >tr {
                        &:hover {
                            background-color: #fefaed;
                        }

                        >td {
                            text-align: center;
                            padding: 8px;
                            color: var(--bs-black);
                            border-top: 1px solid var(--bs-gray-400);
                            border-right: 1px solid var(--bs-gray-400);
                            white-space: normal;
                            word-wrap: break-word;
                            overflow-wrap: break-word;

                            p-inputNumber {
                                ::ng-deep {
                                    width: 100%;
                                }
                            }

                            input {
                                color: var(--bs-black);
                                font-size: 14px;
                                padding-left: 5px;
                                width: 100%;
                                height: 30px;
                                font-weight: 400;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }

            .checkbox-column {
                width: 50px;
                text-align: center;
                box-sizing: border-box;
            }
        }
    }
}

.noi-dung-container {
    padding-top: 3px;
    flex: 1;
    padding-bottom: 15px;

    .title {
        display: flex;
        position: relative;
        padding: 9px 0;
        background-color: var(--bs-blue);
        border-radius: 5px;

        .text {
            color: var(--bs-white);
            font-size: 16px;
            font-weight: bold;
            padding-left: 15px;
        }
    }

    .body {
        width: 100%;
        height: 100%;

        .title-row {
            font-size: 14px;
            color: var(--bs-orange);
            font-weight: bold;
            padding-left: 15px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;

            .form-group {
                display: flex;
                flex-direction: column;
                width: 25%;
                padding: 5px 15px;
                gap: 3px;

                label {
                    color: var(--bs-black);
                    font-size: 14px;
                    font-weight: 600;
                    height: 20px;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    span {
                        color: var(--bs-red);
                    }
                }

                input {
                    color: var(--bs-black);
                    font-size: 14px;
                    padding-left: 5px;
                    width: 100%;
                    height: 30px;
                    font-weight: 400;
                    box-shadow: none;

                    &:disabled {
                        opacity: 1;
                        background-color: var(--bs-gray-200);
                        border-radius: 3px;
                    }
                }

                &.note {
                    width: 50%;
                }

                &.file {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .file-upload {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border: 1px solid var(--bs-gray-400);
                        border-radius: 3px;

                        .file-label {
                            border-bottom-left-radius: 3px;
                            border-top-left-radius: 3px;
                            background-color: var(--bs-blue);
                            display: flex;
                            align-items: center;
                            width: 110px;
                            height: 30px;
                            padding-left: 10px;
                            padding-right: 10px;
                            cursor: pointer;

                            &:hover {
                                background-color: var(--bs-blue-dark);

                                span {
                                    font-weight: bold;
                                }
                            }

                            span {
                                color: var(--bs-white);
                                font-weight: normal;
                                margin-right: 3px;
                                font-size: 14px;
                            }
                        }

                        #fileInput {
                            padding-top: 7px;
                            background-color: var(--bs-white);

                            &::-webkit-file-upload-button {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .main-action {
            display: flex;
            justify-content: space-between;

            .group-button {
                padding: 0 15px;
                height: 30px;
                display: flex;
                align-items: center;

                input {
                    color: var(--bs-black);
                    font-size: 14px;
                    padding-left: 5px;
                    width: 250px;
                    height: 30px;
                    font-weight: 400;
                    box-shadow: none;
                }

                p-button {
                    ::ng-deep {
                        button {
                            height: 30px;
                            padding: 4px 10px;
                            box-shadow: none;
                            font-size: 14px;
                            margin-left: 5px;
                        }

                        .material-icons {
                            font-size: 18px;
                        }

                        .delete {
                            border: none;
                            background-color: var(--bs-red);

                            &:active {
                                transform: scale(0.95);
                            }
                        }

                        .search {
                            border: none;
                            background-color: var(--bs-blue);

                            &:active {
                                transform: scale(0.95);
                            }

                            &:hover {
                                background-color: var(--bs-blue-dark);
                            }
                        }

                        .add {
                            &:active {
                                transform: scale(0.95);
                            }
                        }
                    }
                }
            }


        }

        .table-hang-hoa {
            margin-top: 10px;
            padding: 0 15px;
            width: 100%;
            overflow-x: auto;
        }
    }
}