p-inputNumber,
p-dropdown,
p-calendar {
    ::ng-deep {

        .p-inputtext,
        .p-dropdown {
            width: 100%;
            height: 30px;
            padding-left: 5px;
            font-size: 14px;
            box-shadow: none;
            color: var(--bs-black);

            .p-inputtext {
                color: var(--bs-black);

                &.p-placeholder {
                    color: var(--bs-gray);
                }
            }
        }



        .p-calendar-disabled {
            input {
                opacity: 1;
                background-color: var(--bs-gray-200);
                border-radius: 3px;
            }
        }


        .p-inputtext::placeholder,
        .p-dropdown span {
            color: var(--bs-gray);
            font-size: 14px;
        }

        .p-inputnumber {
            width: 100%;

            input:disabled {
                opacity: 1;
                background-color: var(--bs-gray-200);
                border-radius: 3px;
            }
        }
    }
}

p-dropdown {
    ::ng-deep {

        .p-dropdown-clear-icon {
            font-size: 20px;
            top: 20%;
        }

        .p-dropdown-empty-message {
            font-size: 14px;
        }

        .p-dropdown-label {
            margin-right: 15px;

            &.p-placeholder {
                margin-right: 0;
            }
        }
    }
}

p-calendar {
    ::ng-deep {
        .p-icon-wrapper {
            top: 25%;
        }

        .p-calendar {
            width: 100%;
        }

        .ng-trigger {
            padding: 10px;
        }
    }
}

.noi-dung-container {
    padding-top: 3px;
    flex: 1;
    padding-bottom: 15px;

    .title {
        display: flex;
        position: relative;
        padding: 9px 0;
        background-color: var(--bs-blue);
        border-radius: 5px;

        .text {
            color: var(--bs-white);
            font-size: 16px;
            font-weight: bold;
            padding-left: 15px;
        }
    }

    .body {
        width: 100%;

        .title-row {
            font-size: 14px;
            color: var(--bs-orange);
            font-weight: bold;
            padding-left: 15px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;

            .form-group {
                display: flex;
                flex-direction: column;
                width: 25%;
                padding: 5px 15px;
                gap: 3px;

                label {
                    color: var(--bs-black);
                    font-size: 14px;
                    font-weight: 600;
                    height: 20px;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    span {
                        color: var(--bs-red);
                    }
                }

                input {
                    color: var(--bs-black);
                    font-size: 14px;
                    padding-left: 5px;
                    width: 100%;
                    height: 30px;
                    font-weight: 400;
                    box-shadow: none;

                    &:disabled {
                        opacity: 1;
                        background-color: var(--bs-gray-200);
                        border-radius: 3px;
                    }
                }

                &.note {
                    width: 50%;
                }

                &.file {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .file-upload {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        background-color: #f8e6a0;
                        border: 1px solid var(--bs-gray-400);
                        border-radius: 3px;

                        .file-label {
                            display: flex;
                            align-items: center;
                            width: 110px;
                            padding-left: 10px;
                            padding-right: 10px;
                            cursor: pointer;

                            span {
                                font-weight: normal;
                                margin-right: 3px;
                                font-size: 14px;
                                color: var(--bs-black);
                            }

                            &:active {
                                background-color: var(--bs-orange);
                                transition: background-color 0.5s;
                            }
                        }

                        #fileInput {
                            padding-top: 7px;
                            background-color: var(--bs-white);

                            &::-webkit-file-upload-button {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .main-action {
            display: flex;
            justify-content: space-between;

            .group-button {
                padding: 0 15px;
                height: 30px;
                display: flex;
                align-items: center;

                input {
                    color: var(--bs-black);
                    font-size: 14px;
                    padding-left: 5px;
                    width: 250px;
                    height: 30px;
                    font-weight: 400;
                    box-shadow: none;
                }

                p-button {
                    ::ng-deep {
                        button {
                            height: 30px;
                            padding: 4px 10px;
                            box-shadow: none;
                            font-size: 14px;
                            margin-left: 5px;
                        }

                        .material-icons {
                            font-size: 18px;
                        }

                        .delete {
                            border: none;
                            background-color: var(--bs-red);

                            &:active {
                                transform: scale(0.95);
                            }
                        }

                        .search {
                            border: none;
                            background-color: var(--bs-blue);

                            &:active {
                                transform: scale(0.95);
                            }

                            &:hover {
                                background-color: var(--bs-blue-dark);
                            }
                        }

                        .add {
                            &:active {
                                transform: scale(0.95);
                            }
                        }
                    }
                }
            }


        }

        .table-hang-hoa {
            margin-top: 10px;
            padding: 0 15px;
            overflow-x: auto;
            width: 100%;

            p-table {
                ::ng-deep {
                    .p-datatable-table {
                        border-bottom: 1px solid var(--bs-gray-400);
                        border-top: 1px solid var(--bs-gray-400);
                        border-left: 1px solid var(--bs-gray-400);
                        font-size: 14px;
                        table-layout: fixed;
                        padding-right: 2px;
                        min-width: 250%;
                    }

                    .p-datatable-thead {
                        >tr {
                            >th {
                                padding: 5px;
                                text-align: center;
                                color: var(--bs-black);
                                background: var(--bs-gray-200);
                                font-weight: bold;
                                border-right: 1px solid var(--bs-gray-400);
                            }
                        }
                    }

                    .p-datatable-tbody {
                        >tr {
                            >td {
                                text-align: center;
                                padding: 4px 8px;
                                color: var(--bs-black);
                                border-top: 1px solid var(--bs-gray-400);
                                border-right: 1px solid var(--bs-gray-400);
                                white-space: normal;
                                word-wrap: break-word;
                                overflow-wrap: break-word;

                                p-inputnumber {
                                    ::ng-deep {
                                        width: 100%;
                                    }
                                }

                                input {
                                    color: var(--bs-black);
                                    font-size: 14px;
                                    padding-left: 5px;
                                    width: 100%;
                                    height: 30px;
                                    font-weight: 400;
                                    box-shadow: none;
                                }

                                .dropdown-fix {
                                    z-index: 1111;
                                    // min-width: 106px;
                                    // transform-origin: center bottom;
                                    // top: 64.4px;
                                    // left: 1037.2px;
                                    // margin-top: calc(var(--p-anchor-gutter));
                                }
                            }
                        }
                    }

                    .p-datatable-wrapper {
                        padding-bottom: 10px;

                        &::-webkit-scrollbar {
                            border-radius: 20px;
                            width: 10px;
                            height: 10px;
                            box-sizing: border-box;
                            border: none;
                        }

                        &::-webkit-scrollbar-track {
                            box-sizing: border-box;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 20px;
                            background-image: radial-gradient(circle farthest-corner at 10% 20%,
                                    var(--bs-blue) 0.1%,
                                    var(--bs-orange) 94.2%);
                        }
                    }

                    .checkbox-column {
                        width: 50px;
                        text-align: center;
                        padding: 0;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}