.phu-luc-container {
    padding-top: 3px;
    flex: 1;

    .title {
        display: flex;
        position: relative;
        padding: 9px 0;
        background-color: var(--bs-blue);
        border-radius: 5px;

        .text {
            color: var(--bs-white);
            font-size: 16px;
            font-weight: bold;
            padding-left: 15px;
        }
    }

    .body {
        margin-top: 15px;
        background-color: var(--bs-white);

        .title-row {
            color: var(--bs-orange);
            font-weight: bold;
            padding: 15px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;

            .form-group {
                display: flex;
                flex-direction: column;
                width: 25%;
                padding: 5px 15px;
                gap: 3px;

                label {
                    color: var(--bs-black);
                    font-size: 14px;
                    font-weight: 600;
                    height: 20px;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    span {
                        color: var(--bs-red);
                    }
                }

                p-inputNumber,
                p-dropdown,
                p-calendar {
                    ::ng-deep {

                        .p-inputtext,
                        .p-dropdown {
                            width: 100%;
                            height: 30px;
                            padding-left: 5px;
                            font-size: 14px;
                            box-shadow: none;
                            color: var(--bs-black);

                            .p-inputtext {
                                color: var(--bs-black);

                                &.p-placeholder {
                                    color: var(--bs-gray);
                                }
                            }
                        }

                        .p-inputtext::placeholder,
                        .p-dropdown span {
                            color: var(--bs-gray);
                            font-size: 14px;
                        }

                        .p-inputnumber {
                            width: 100%;
                        }
                    }
                }
                
                p-dropdown {
                    ::ng-deep {

                        .p-dropdown-header,
                        .p-dropdown-items-wrapper {
                            padding: 5px 7px;

                            span {
                                color: black;
                            }
                        }

                        .p-dropdown-clear-icon {
                            font-size: 20px;
                            top: 20%;
                        }

                        .p-dropdown-filter-icon {
                            display: none;
                        }

                        .p-dropdown-empty-message {
                            font-size: 14px;
                        }

                        .p-dropdown-label {
                            margin-right: 15px;

                            &.p-placeholder {
                                margin-right: 0;
                            }
                        }

                        span {
                            margin-top: 3px;
                        }
                    }
                }

                p-calendar {
                    ::ng-deep {
                        .p-icon-wrapper {
                            top: 25%;
                        }

                        .p-calendar {
                            width: 100%;
                        }

                        .ng-trigger {
                            padding: 10px;
                        }
                    }
                }

                input {
                    color: var(--bs-black);
                    font-size: 14px;
                    padding-left: 5px;
                    width: 100%;
                    height: 30px;
                    font-weight: 400;
                    box-shadow: none;
                }

                &.note {
                    width: 50%;
                }
            }
        }
    }
}