<div class="noi-dung-container">
  <div class="title">
    <span class="text">Nội dung hợp đồng</span>
  </div>
  <div class="body">
    <div style="margin-top: 10px">
      <span class="title-row">Thông tin chung</span>
    </div>
    <form [formGroup]="addContractForm" class="container">
      <div class="form-group">
        <label for="loai-hop-dong">Loại hợp đồng <span>*</span></label>
        <p-dropdown
          formControlName="loaiHopDong"
          id="loai-hop-dong"
          [options]="countries"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Chọn loại hợp đồng"
          emptyMessage="Không có dữ liệu"
          emptyFilterMessage="Không tìm thấy!"
        />
      </div>
      <div class="form-group">
        <label for="nam-kinh-phi">Năm kinh phí <span>*</span></label>
        <p-inputNumber
          formControlName="namKinhPhi"
          id="nam-kinh-phi"
          inputId="integeronly"
          [maxlength]="4"
          [min]="1"
          [useGrouping]="false"
          placeholder="Nhập năm kinh phí"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="lanh-dao-phu-trach">Lãnh đạo phụ trách</label>
        <p-dropdown
          formControlName="lanhDaoPhuTrach"
          id="lanh-dao-phu-trach"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Chọn lãnh đạo phụ trách"
          emptyMessage="Không có dữ liệu"
          emptyFilterMessage="Không tìm thấy !"
        />
      </div>
      <div class="form-group">
        <label for="can-bo-phu-trach">Cán bộ phụ trách <span>*</span></label>
        <p-dropdown
          formControlName="canBoPhuTrach"
          id="can-bo-phu-trach"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Chọn cán bộ phụ trách"
          emptyMessage="Không có dữ liệu"
          emptyFilterMessage="Không tìm thấy !"
        />
      </div>
      <div class="form-group">
        <label for="trang-thai">Trạng thái <span>*</span></label>
        <p-dropdown
          formControlName="trangThai"
          id="trang-thai"
          [options]="listStatus"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Chọn trạng thái"
          emptyMessage="Không có dữ liệu"
          emptyFilterMessage="Không tìm thấy !"
          optionDisabled="name"
        />
      </div>
      <div class="form-group">
        <label for="so-hop-dong">Số hợp đồng <span>*</span></label>
        <input
          formControlName="soHopDong"
          id="so-hop-dong"
          pInputText
          placeholder="Nhập Số hợp đồng"
          [maxLength]="50"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="ten-hop-dong">Tên hợp đồng <span>*</span></label>
        <input
          formControlName="tenHopDong"
          id="ten-hop-dong"
          pInputText
          [maxLength]="250"
          placeholder="Nhập tên hợp đồng"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="nguon-kinh-phi">Nguồn kinh phí</label>
        <p-dropdown
          formControlName="nguonKinhPhi"
          id="nguon-kinh-phi"
          [options]="listProgress"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Tự động lấy từ danh sách hàng hoá"
          emptyMessage="Không có dữ liệu"
          emptyFilterMessage="Không tìm thấy !"
          optionDisabled="name"
        />
      </div>
      <div class="form-group">
        <label for="don-vi-cung-cap">Đơn vị cung cấp <span>*</span></label>
        <p-dropdown
          formControlName="donViCungCap"
          id="don-vi-cung-cap"
          [options]="listProgress"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Chọn đơn vị cung cấp"
          emptyMessage="Không có dữ liệu"
          emptyFilterMessage="Không tìm thấy !"
        />
      </div>
      <div class="form-group">
        <label for="ngay-ky">Ngày ký <span>*</span> </label>
        <p-calendar
          formControlName="ngayKy"
          id="ngay-ky"
          [iconDisplay]="'input'"
          [showIcon]="true"
          placeholder="--/--/----"
          (keydown.enter)="handleEnter($event, 'ngayKy')"
          dateFormat="dd/mm/yy"
          [showButtonBar]="true"
        />
      </div>
      <div class="form-group">
        <label for="ngay-co-hieu-luc">Ngày có hiệu lực <span>*</span></label>
        <p-calendar
          formControlName="ngayCoHieuLuc"
          id="ngay-co-hieu-luc"
          [iconDisplay]="'input'"
          [showIcon]="true"
          placeholder="--/--/----"
          (keydown.enter)="handleEnter($event, 'ngayCoHieuLuc')"
          dateFormat="dd/mm/yy"
          [showButtonBar]="true"
        />
      </div>
      <div class="form-group">
        <label for="so-ngay-thuc-hien">Số ngày thực hiện <span>*</span></label>
        <p-inputNumber
          formControlName="soNgayThucHien"
          id="so-ngay-thuc-hien"
          inputId="integeronly"
          [maxlength]="5"
          [min]="1"
          [useGrouping]="false"
          placeholder="Nhập số ngày thực hiện"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="tien-do-hop-dong">Tiến độ hợp đồng</label>
        <input
          formControlName="tienDoHopDong"
          id="tien-do-hop-dong"
          pInputText
          [maxLength]="50"
          placeholder="Tiến độ hợp đồng"
          [disabled]="true"
        />
      </div>
      <div class="form-group">
        <label for="ngay-ket-thuc-hop-dong">Ngày kết thúc hợp đồng</label>
        <p-calendar
          formControlName="ngayKetThucHopDong"
          id="ngay-ket-thuc-hop-dong"
          [iconDisplay]="'input'"
          [showIcon]="true"
          placeholder="--/--/----"
          dateFormat="dd/mm/yy"
          [showButtonBar]="true"
          [disabled]="true"
        />
      </div>
      <div class="form-group">
        <label for="gia-tri-hop-dong-ban-dau">Giá trị hợp đồng ban đầu</label>
        <p-inputNumber
          formControlName="giaTriHopDongBanDau"
          id="gia-tri-hop-dong-ban-dau"
          inputId="integeronly"
          [useGrouping]="false"
          placeholder="0 VNĐ"
          [disabled]="true"
        />
      </div>
      <div class="form-group">
        <label for="gia-tri-thuc-te">Giá trị thực tế <span>*</span></label>
        <p-inputNumber
          formControlName="giaTriThucTe"
          id="gia-tri-thuc-te"
          inputId="integeronly"
          [useGrouping]="false"
          placeholder="0 VNĐ"
          [disabled]="true"
        />
      </div>
      <div class="form-group">
        <label for="da-thanh-toan">Đã thanh toán</label>
        <p-inputNumber
          formControlName="daThanhToan"
          id="da-thanh-toan"
          inputId="integeronly"
          [useGrouping]="false"
          placeholder="0 VNĐ"
          [disabled]="true"
        />
      </div>
      <div class="form-group">
        <label for="con-thanh-toan">Còn thanh toán</label>
        <p-inputNumber
          formControlName="conThanhToan"
          id="con-thanh-toan"
          inputId="integeronly"
          [useGrouping]="false"
          placeholder="0 VNĐ"
          [disabled]="true"
        />
      </div>
      <div class="form-group note">
        <label for="ghi-chu">Ghi chú</label>
        <input
          formControlName="ghiChu"
          id="ghi-chu"
          pInputText
          [maxLength]="500"
          autocomplete="off"
        />
      </div>
      <div class="form-group file">
        <label for="tai-file">Tải file</label>
        <div class="file-upload">
          <label for="fileInput" class="file-label click">
            <span class="material-icons">folder_open</span>
            <span>Chọn tệp</span>
          </label>
          <input type="file" id="fileInput" readonly />
        </div>
      </div>
    </form>
    <div style="margin: 15px 0px">
      <span class="title-row">Chi tiết hàng hóa</span>
    </div>
    <div class="main-action">
      <div class="group-button">
        <input
          formControlName="ghiChu"
          id="ghi-chu"
          pInputText
          [maxLength]="250"
          placeholder="Tìm kiếm theo mã, tên, model"
          autocomplete="off"
        />
        <p-button label="Tìm kiếm" styleClass="search">
          <ng-template pTemplate="icon">
            <i class="material-icons">search</i>
          </ng-template>
        </p-button>
      </div>
      <div class="group-button">
        <p-button
          label="Thêm mới"
          styleClass="add"
          (onClick)="showDialogAddHangHoa()"
        >
          <ng-template pTemplate="icon">
            <i class="material-icons">add</i>
          </ng-template>
        </p-button>
        <p-button label="Xóa" styleClass="delete">
          <ng-template pTemplate="icon">
            <i class="material-icons">delete</i>
          </ng-template>
        </p-button>
      </div>
    </div>
    <div class="table-hang-hoa">
      <p-table
        [(selection)]="selectedProducts"
        [value]="products"
        styleClass="p-datatable-gridlines"
        [rows]="10"
        [loading]="false"
        scrollable="true"
        scrollHeight="flex"
      >
        <ng-template pTemplate="header">
          <tr class="p-datatable-header">
            <th class="checkbox-column">
              <p-tableHeaderCheckbox />
            </th>
            <th style="width: 50px">STT</th>
            <th>Nhóm hàng</th>
            <th>Loại hàng hóa</th>
            <th>Tên hàng</th>
            <th>Mã hàng</th>
            <th>Đơn vị tính</th>

            <th>Nguồn kinh phí</th>
            <th style="width: 120px">Năm sản xuất</th>
            <th>Model</th>

            <th>Hãng sản xuất</th>
            <th>Xuất xứ</th>
            <th style="width: 120px">Số lượng HĐ</th>
            <th style="width: 200px">Đơn giá HĐ</th>
            <th style="width: 200px">Thành tiền</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
          <tr>
            <td class="checkbox-column">
              <p-tableCheckbox [value]="product" />
            </td>
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>

            <td style="text-align: start">
              <p-dropdown
                id="nguon-kinh-phi"
                [options]="[]"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                emptyMessage="Không có dữ liệu"
                emptyFilterMessage="Không tìm thấy !"
                appendTo="body"
              />
            </td>
            <td>
              <p-inputNumber
                id="name-san-xuat"
                inputId="integeronly"
                [useGrouping]="false"
                autocomplete="off"
              />
            </td>
            <td>
              <input id="model" pInputText [maxLength]="50" />
            </td>
            <td style="text-align: start">
              <p-dropdown
                id="hang-san-xuat"
                [options]="listProgress"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                emptyMessage="Không có dữ liệu"
                emptyFilterMessage="Không tìm thấy !"
                appendTo="body"
              />
            </td>
            <td style="text-align: start">
              <p-dropdown
                id="xuat-xu"
                [options]="listProgress"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                emptyMessage="Không có dữ liệu"
                emptyFilterMessage="Không tìm thấy !"
                appendTo="body"
              />
            </td>
            <td>
              <p-inputNumber
                id="so-luong"
                inputId="integeronly"
                [useGrouping]="false"
                autocomplete="off"
              />
            </td>
            <td>
              <p-inputNumber
                id="don-gia"
                inputId="integeronly"
                [useGrouping]="false"
                autocomplete="off"
              />
            </td>
            <td>{{ product.code }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  header="Header"
  [modal]="true"
  [visible]="visible"
  [style]="{ 'max-width': '90%' }"
  appendTo="body"
>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
</p-dialog>
