.left-container {
    position: relative;
    background-color: var(--bs-white);

    &.in-active {
        .btn-change {
            position: static;
            margin: 7px auto 10px;
            transform: rotate(180deg);
        }

        .title-left {
            background: transparent;
            writing-mode: vertical-rl;

            .title {
                color: var(--bs-blue);
                font-size: 16px;
                font-weight: bold;
                width: max-content;
            }
        }

        .body-left {
            display: none;
        }
    }

    .btn-change {
        border: none;
        background: transparent;
        width: max-content;
        padding: 0 5px;
        position: absolute;
        right: 1px;
        top: 6px;
        z-index: 70;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .material-icons {
            color: var(--bs-blue-dark);
            font-size: 30px;
        }
    }

    .title-left {
        display: flex;
        position: relative;
        padding: 9px 0;
        background-color: var(--bs-blue);
        border-radius: 5px;

        .title {
            color: var(--bs-white);
            font-size: 16px;
            font-weight: bold;
            padding-left: 15px;
        }
    }

    .body-left {
        width: 100%;
        padding: 5px;

        .container {
            display: flex;
            flex-wrap: wrap;

            .form-group {
                display: flex;
                flex-direction: column;
                width: 33.33%;
                padding: 0.3rem;
                gap: 3px;

                label {
                    color: var(--bs-black);
                    font-size: 14px;
                    font-weight: 600;
                    height: 20px;
                }

                p-inputNumber,
                p-dropdown,
                p-calendar {
                    ::ng-deep {

                        .p-inputtext,
                        .p-dropdown {
                            width: 100%;
                            height: 30px;
                            padding-left: 5px;
                            font-size: 14px;
                            box-shadow: none;
                            color: var(--bs-black);

                            .p-inputtext {
                                color: var(--bs-black);

                                &.p-placeholder {
                                    color: var(--bs-gray);
                                }
                            }
                        }

                        .p-inputtext::placeholder,
                        .p-dropdown span {
                            color: var(--bs-gray);
                            font-size: 14px;
                        }

                        .p-inputnumber {
                            width: 100%;
                        }
                    }
                }

                p-dropdown {
                    ::ng-deep {

                        .p-dropdown-header,
                        .p-dropdown-items-wrapper {
                            padding: 5px 7px;

                            span {
                                color: black;
                            }
                        }

                        .p-dropdown-clear-icon {
                            font-size: 20px;
                            top: 20%;
                        }

                        .p-dropdown-filter-icon {
                            display: none;
                        }

                        .p-dropdown-empty-message {
                            font-size: 14px;
                        }

                        span {
                            margin-top: 3px;
                        }
                    }
                }

                p-calendar {
                    ::ng-deep {
                        .p-icon-wrapper {
                            top: 25%;
                        }

                        .p-calendar {
                            width: 100%;
                        }

                        .ng-trigger {
                            padding: 10px;
                        }
                    }
                }

                input {
                    color: var(--bs-black);
                    font-size: 14px;
                    padding-left: 5px;
                    width: 100%;
                    height: 30px;
                    font-weight: 400;
                    box-shadow: none;
                }

                &.button {
                    margin-top: 25px;
                    flex: 1;
                    width: 100%;
                    flex-direction: row;
                    align-items: center;

                    p-button {
                        ::ng-deep {
                            button {
                                height: 30px;
                                padding: 4px 10px;
                                box-shadow: none;
                                font-size: 14px;
                            }

                            .material-icons {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        .title-table {
            font-weight: bold;
        }

        p-table {
            ::ng-deep {
                .p-datatable-table {
                    border-bottom: 1px solid var(--bs-gray);
                    border-top: 1px solid var(--bs-gray);
                    border-left: 1px solid var(--bs-gray);
                    table-layout: fixed;
                    width: 100%;
                    font-size: 14px;
                }
                
                .p-datatable-thead>tr>th {
                    text-align: center;
                    width: 25%;
                    color: var(--bs-black);
                    background: var(--bs-gray-200);
                    padding: .3rem;
                    font-weight: bold;
                    border-right: 1px solid var(--bs-gray);
                    white-space: normal; // Cho phép xuống dòng
                    overflow-wrap: break-word; // Ngắt từ khi quá dài
                    word-break: break-word; // Ngắt từ khi quá dài
                }

                .p-datatable-tbody>tr>td {
                    width: 25%;
                    padding: 4px 8px;
                    color: var(--bs-black);
                    border-top: 1px solid var(--bs-gray);
                    border-right: 1px solid var(--bs-gray);
                    white-space: normal; // Cho phép xuống dòng
                    overflow-wrap: break-word; // Ngắt từ khi quá dài
                    word-break: break-word; // Ngắt từ khi quá dài
                }

                .p-paginator {
                    border: none;
                    margin-top: 20px;
                    justify-content: end;
                    font-size: 14px;
                    .p-ripple {
                        height: 27px;
                        min-width: 27px;
                        color: var(--bs-black);
                        border-radius: 0;
                        padding: 0;
                        margin: 0;
                        border-bottom: 1px solid var(--bs-gray);
                        border-top: 1px solid var(--bs-gray);
                        border-left: 1px solid var(--bs-gray);
                        &.p-paginator-last {
                            border-right: 1px solid var(--bs-gray);
                        }
                    }
                }
            }
        }


    }
}