<div class="title-dialog">
    <h2>{{ data.id ? "Sửa permission" : "Thêm permission"}}</h2>
    <span class="material-icons" (click)="close()">close</span>
</div>

<form class="user-form" [formGroup]="permissionForm" mat-dialog-content>
    <app-input [formGroup]="permissionForm" controlName="name" className="bg-input" placeholder="Nhập tên menu"
        errorMessage="Vui lòng nhập tên menu" type="text">
    </app-input>

    <app-input [formGroup]="permissionForm" controlName="description" className="bg-input"
        placeholder="Nhập tên đường dẫn cho menu" errorMessage="Vui lòng nhập đường dẫn cho menu" type="text">
    </app-input>
</form>


<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">{{ data.id ? "Sửa" : "Thêm"}}</button>
</div>