<div class="user-container">
    <div class="breadcrumb">Breadcrumb</div>
    <div class="main">
        <div class="top-bar">
            <h1>Người dùng</h1>
            <div class="actions">
                <button class="btn-none">
                    <span class="material-icons">note_add</span>
                    Import
                </button>
                <button class="btn-none">
                    <span class="material-icons">upload_file</span>
                    Export
                </button>
                <button class="btn">
                    <span class="material-icons">add</span>
                    Thêm người dùng
                </button>
            </div>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Search users...">
            <button>
                <span class="material-icons">search</span>
            </button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Hành động</th>
                        <th>Họ và Tên</th>
                        <th>Email</th>
                        <th>Quyền</th>
                        <th>Ngày tham gia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="action-btn">
                                <span class="material-icons">settings</span>
                                Actions
                            </button>
                        </td>
                        <td>CuongNB</td>
                        <td>cuongAgmail.com</td>
                        <td>admin</td>
                        <td>2 ngày trước</td>
                    </tr>
                    <tr>
                        <td><button class="action-btn">
                                <span class="material-icons">settings</span>
                                Actions
                            </button>
                        </td>
                        <td>Huyền</td>
                        <td>huyenAgmail.com</td>
                        <td>user</td>
                        <td>1 ngày trước</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div class="total">
                    <p>25 Total</p>
                </div>
                <div class="pagination">
                    <button class="page-btn">&lt;</button>
                    <button class="page-btn">1</button>
                    <button class="page-btn">2</button>
                    <button class="page-btn">3</button>
                    <button class="page-btn">&gt;</button>
                </div>
            </div>
        </div>
    </div>
</div>