<div [formGroup]="formGroup" class="formGroup">
    <div class="input-container">
        <input [type]="type === 'password' && !isPasswordVisible ? 'password' : 'text'" [formControlName]="controlName"
            [ngClass]="{'is-invalid': isInvalid(controlName)}" [placeholder]="placeholder">

        <div *ngIf="type === 'password'" class="password-container" (click)="togglePasswordVisibility()">
            <span class="material-icons">
                {{ isPasswordVisible ? 'visibility_off' : 'visibility' }}
            </span>
        </div>
    </div>

    <div *ngIf="isInvalid(controlName)" class="error-message">{{ getErrorMessage() }}</div>
</div>