.bg-color {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    /* background-color: #ffffff; */
    width: 430px;
    height: 520px;
    position: relative;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -30px;
    bottom: -80px;
}

/* phia tren là code background */

form {
    width: 375px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

form h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    user-select: none;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.forgot-password .left {
    align-self: flex-start;
}

.forgot-password .right {
    align-self: flex-end;
}

.forgot-password a {
    user-select: none;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.error-msg-captcha {
    position: absolute;
    top: 56px;
    left: 10px;
    color: red;
    font-size: 0.875em;
}

.container-recaptcha {
    position: relative;
}