main {
    display: flex;
    background-color: var(--color-menu-hover);
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;

    ng-scrollbar {
        flex: 1;
        --scrollbar-thickness: 10;
        --scrollbar-track-color: var(--bs-gray-500);
        // height: 100%;

        ::ng-deep {
            .ng-scrollbar-button {
                box-sizing: border-box;
                border: 1px solid #484848 !important;
            }

            .ng-scrollbar-track {
                box-sizing: border-box;
            }

            .ng-scrollbar-thumb {
                border-radius: 20px;
                background-image: radial-gradient(circle farthest-corner at 10% 20%,
                        var(--bs-blue) 0.1%,
                        var(--bs-orange) 94.2%);
            }
        }

        .main {
            background-color: var(--bs-gray-200);
            position: relative;
            transition: all 0.2s ease;
        }
    }
}