button {
    user-select: none;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;

    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    &:active {
        transform: scale(0.95);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}