<div class="sidebar">
  <!-- Menu -->
  <ul class="menu">
    <!-- <li>
            <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span class="material-icons">home</span>
                Home
            </a>
        </li> -->
    <li>
      <a routerLink="/admin/contract" routerLinkActive="active">
        <span class="material-icons">description</span>
        Hợp đồng
      </a>
    </li>
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <span class="material-icons">space_dashboard</span>
        Dashboard
      </a>
    </li>
    <li class="dropdown" [class.open]="isOpen">
      <a class="dropdown-toggle" (click)="toggleDropdown($event)">
        <span class="material-icons">admin_panel_settings</span>
        Administration
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let menu of menus">
          <a [routerLink]="menu.url" routerLinkActive="active">
            <span class="material-icons">{{ menu.iconName }}</span>
            {{ menu.displayName }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
