<div class="user-container">
  <div class="breadcrumb">
    <ol class="breadcrumb-nav">
      <li class="breadcrumb-nav-item">
        <span class="material-icons">admin_panel_settings</span>Administration
      </li>
      <div class="line-item"></div>
      <li class="breadcrumb-nav-item">
        <span class="material-icons">security</span>
        Roles
      </li>
    </ol>
    <div class="breadcrumb-line"></div>
  </div>
  <div class="main">
    <div class="top-bar">
      <h1>Quyền</h1>
      <div class="actions">
        <button
          class="btn"
          type="button"
          (click)="openDialogCreate()"
          *ngIf="hasPermission(P.RoleCreate)"
        >
          <span class="material-icons">add</span>
          Thêm quyền
        </button>
      </div>
    </div>
    <div class="search-bar">
      <input type="search" placeholder="Search roles..." />
      <button>
        <span class="material-icons">search</span>
      </button>
    </div>
    <!-- Skeleton loader giống với từng hàng của bảng -->
    <div *ngIf="isLoading" class="table-container">
      <table>
        <thead>
          <tr>
            <th>Hành động</th>
            <th>Tên</th>
            <th>Số lượng người dùng</th>
            <th>Permission</th>
            <th>Menu</th>
            <th>Ngày tạo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of [1, 2, 3, 4, 5]">
            <td>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
              ></ngx-skeleton-loader>
            </td>
            <td>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
              ></ngx-skeleton-loader>
            </td>
            <td>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
              ></ngx-skeleton-loader>
            </td>
            <td>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
              ></ngx-skeleton-loader>
            </td>
            <td>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
              ></ngx-skeleton-loader>
            </td>
            <td>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
              ></ngx-skeleton-loader>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="table-bottom">
        <div class="total">Tổng cộng 0</div>
        <app-pagination />
      </div>
    </div>
    <!-- Bảng -->
    <div
      *ngIf="!isLoading"
      class="table-container"
      (click)="onClickOutside($event)"
    >
      <table>
        <thead>
          <tr>
            <th>Hành động</th>
            <th>Tên</th>
            <th>Số lượng người dùng</th>
            <th>Permission</th>
            <th>Menu</th>
            <th>Ngày tạo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of listRole">
            <td>
              <div class="dropdown" [class.show]="isDropdownOpen[role.id]">
                <button
                  class="dropdown-toggle"
                  (click)="toggleDropdown($event, role.id)"
                  [ngClass]="{ open: isDropdownOpen[role.id] }"
                  type="button"
                >
                  <span class="material-icons">settings</span>
                  Actions
                </button>
                <ul
                  class="dropdown-menu"
                  [class.show]="isDropdownOpen[role.id]"
                >
                  <li>
                    <button
                      class="dropdown-item"
                      type="button"
                      (click)="openDialogDetail(role.id)"
                    >
                      Xem chi tiết
                    </button>
                  </li>
                  <li *ngIf="hasPermission(P.RoleUpdate)">
                    <button
                      class="dropdown-item"
                      type="button"
                      (click)="openDialogUpdate(role.id)"
                    >
                      Sửa quyền
                    </button>
                  </li>
                  <li *ngIf="hasPermission(P.RoleDelete)">
                    <button
                      class="dropdown-item"
                      type="button"
                      (click)="openDialogDelete(role.id)"
                    >
                      Xóa quyền
                    </button>
                  </li>
                </ul>
              </div>
            </td>
            <td>{{ role.name }}</td>
            <td>{{ role.countUser }}</td>
            <td>
              {{ role.permissions.length }}
            </td>
            <td>
              {{ role.menus.length }}
            </td>
            <td>{{ formatDate(role.createdAt) }}</td>
          </tr>
        </tbody>
      </table>

      <div class="table-bottom">
        <div class="total">
          <p>Tổng cộng {{ totalItems }}</p>
        </div>
        <app-pagination
          [totalItems]="totalItems"
          [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage"
          (pageChanged)="onPageChange($event)"
        >
        </app-pagination>
      </div>
    </div>
  </div>
</div>
