/* Import PrimeNG styles */
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

// custom láº¡i toast
.custom-toast {
    .p-toast-message {
        margin-top: 10px;
        padding: 6px 10px;

        .p-toast-message-icon {
            margin-right: 5px;
            transform: scale(0.8);
        }
    }

    .p-toast-summary {
        font-weight: bold;
    }
}

/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.cdk-global-scrollblock {
    overflow: hidden;
    left: 0px;
    top: 0px;
}

body {
    background-color: var(--bs-gray-200);
    font-size: 15px;
    height: 100vh;
    overflow: hidden;
}

app-home {
    width: 100%;
    height: 100%;
}

:root {
    --bs-blue: #0d6efd;
    --bs-blue-dark: #0056b3;
    --bs-pink: #d63384;
    --bs-red: #ff0000;
    --bs-orange: #ff7f50;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-black-100: #0000001a;
    --bs-black-200: #08071099;
    --bs-white: #ffffff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #355dff;
    --bs-secondary: #6c5dd3;
    --bs-success: #4fbf67;
    --bs-info: #438aa7;
    --bs-warning: #ff9f38;
    --bs-danger: #c00d49;
    --bs-light: #e6ebef;
    --bs-dark: #062a44;
    --bs-post: #4fbf67;
    --bs-put: #fca130;
    --bs-get: #438aa7;
    --bs-delete: #c00d49;
    --bs-background-post: #49cc8f1a;
    --bs-background-put: #fca1301a;
    --bs-background-get: #61affe1a;
    --bs-background-delete: #f93e3e1a;
}