/* Import PrimeNG styles */
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';
@import 'quill/dist/quill.snow.css';
@import '../../frontend/src/app/ui/custom-ui-contract/dialog-hanghoa.scss';
@import '../../frontend/src/app/ui/custom-ui-contract/confirm-dialog.scss';
@import '../../frontend/src/app/ui/custom-ui-contract/ui-contract.scss';

/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    // font-size: 14px;
}

body {
    background-color: var(--bs-gray-200);
    font-size: 15px;
    height: 100vh;
    overflow: hidden;

    .p-dropdown-panel {
        .p-dropdown-header {
            padding: 0 7px;
            padding-top: 7px;

            .p-dropdown-filter-icon {
                display: none;
            }
        }

        .p-dropdown-items-wrapper {
            padding: 5px 7px;

            .p-dropdown-item {
                color: var(--bs-black);
                font-size: 14px;
                white-space: normal;
                word-wrap: break-word;
                overflow-wrap: break-word;
            }

            .p-dropdown-empty-message {
                font-size: 14px;
            }
        }
    }
}

app-home {
    width: 100%;
    height: 100%;
}

// màu dùng chung
:root {
    --bs-blue: #0d6efd;
    --bs-blue-dark: #0056b3;
    --bs-red: #f55442;
    --bs-red-dark: #d73535;
    --bs-yellow: #f2c94c;
    --bs-yellow-dark: #edb50d;
    --bs-yellow-white: #fff4d2;
    --bs-orange: #f2994a;
    --bs-orange-dark: #e0a800;

    --bs-pink: #d63384;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-black-100: #0000001a;
    --bs-black-200: #08071099;
    --bs-white: #ffffff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #355dff;
    --bs-secondary: #6c5dd3;
    --bs-success: #4fbf67;
    --bs-info: #438aa7;
    --bs-warning: #ff9f38;
    --bs-danger: #c00d49;
    --bs-light: #e6ebef;
    --bs-dark: #062a44;
    --bs-post: #4fbf67;
    --bs-put: #fca130;
    --bs-get: #438aa7;
    --bs-delete: #c00d49;
    --bs-background-post: #49cc8f1a;
    --bs-background-put: #fca1301a;
    --bs-background-get: #61affe1a;
    --bs-background-delete: #f93e3e1a;
    --bs-background-dialog: #faf9fd;
}