.bg-color {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 430px;
    height: 520px;
    position: relative;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -30px;
    bottom: -80px;
}

/* phia tren là code background */

form {
    width: 375px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    user-select: none;
}

.container-login {
    margin-left: 10px;
    margin-top: 8px;
    display: flex;
}

.container-login a {
    font-weight: bold;
    margin-left: 4px;
    user-select: none;
    color: #000000;
    text-decoration: none;
}

.container-login a:hover {
    text-decoration: underline;
}

.captcha {
    position: relative;
}

.captcha-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    user-select: none;
}

.captcha-box input {
    display: block;
    height: 50px;
    width: 100%;
    border: 1.5px solid #000000;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

input.is-invalid {
    border: 1px solid red;
}

.captcha-box img {
    height: 50px;
    width: 120px;
}

.captcha-box .icon {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.captcha-box .icon:hover {
    color: #1845ad;
}

.error-message {
    user-select: none;
    position: absolute;
    top: 55px;
    left: 10px;
    color: red;
    font-size: 0.875em;
}