<nav aria-label="Pagination">
    <ul class="pagination">
        <!-- Nút chuyển đến trang đầu tiên -->
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="currentPage === 1 ? null : goToFirstPage()" aria-label="First">
                <span aria-hidden="true" class="material-icons">first_page</span>
            </a>
        </li>

        <!-- Nút chuyển về trang trước -->
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="currentPage === 1 ? null : goToPage(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true" class="material-icons">chevron_left</span>
            </a>
        </li>

        <!-- Danh sách các trang -->
        <li *ngFor="let page of pagesArray" class="page-item" [class.active]="page === currentPage">
            <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>

        <!-- Nút chuyển tới trang kế tiếp -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="currentPage === totalPages ? null : goToPage(currentPage + 1)"
                aria-label="Next">
                <span aria-hidden="true" class="material-icons">chevron_right</span>
            </a>
        </li>

        <!-- Nút chuyển tới trang cuối cùng -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="currentPage === totalPages ? null : goToLastPage()" aria-label="Last">
                <span aria-hidden="true" class="material-icons">last_page</span>
            </a>
        </li>
    </ul>
</nav>