.log-container {
    .breadcrumb {
        height: 30px;
    }

    .main {
        margin: 0;
        padding: 15px 25px;

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 24px;
                color: #333;
            }

            .actions {
                display: flex;
                align-items: center;

                .btn-none {
                    margin-left: 10px;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: #fff;
                    color: #007bff;
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: #007bff;
                        color: #fff;
                    }

                    .material-icons {
                        font-size: 0.8rem;
                        margin-right: 5px;
                    }
                }
            }
        }

        .search-bar {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            padding: 20px 30px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            input {
                flex: 1;
                padding: 10px;
                border: 1px solid #ccc;
                outline: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                font-size: 1rem;
            }

            button {
                width: 50px;
                border: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #007bff;
                color: #fff;
                transition: background-color 0.3s ease;
                padding-top: 5px;

                &:hover {
                    background-color: #0056b3;
                }

                .material-icons {
                    font-size: 1.2rem;
                }
            }
        }


        .table-container {
            background-color: white;
            border-radius: 8px;

            table {
                width: 100%;
                border-collapse: collapse;

                thead {
                    border-radius: 8px;

                    th {
                        background-color: white;
                        padding: 10px;
                        text-align: left;

                        &:first-child {
                            border-top-left-radius: 8px;
                        }

                        &:last-child {
                            border-top-right-radius: 8px;
                        }
                    }
                }

                th,
                td {
                    padding: 10px;
                    border-bottom: 1px solid #ddd;
                }

                tbody {
                    tr {
                        &:hover {
                            background-color: var(--color-menu-hover);
                        }

                        td {
                            .action-btn {
                                border-radius: 8px;
                                border: none;
                                background: #007bff;
                                color: var(--bg-white);
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                padding: 5px 10px;

                                .material-icons {
                                    font-size: 1.2rem;
                                    color: var(--bg-white);
                                    margin-right: 5px;
                                }

                                &::after {
                                    margin-left: auto; // Đặt mũi tên ở bên phải
                                    font-size: 1.2rem;
                                    color: var(--bg-white);
                                    font-family: 'Material Icons'; // Chỉ định font cho Material Icons
                                    content: 'keyboard_arrow_down'; // Mặc định là mũi tên xuống
                                }
                            }
                        }
                    }
                }
            }

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .total {
                    margin-left: 30px;
                    display: flex;
                    align-items: center;
                }

                .pagination {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;

                    .page-btn {
                        color: #fff;
                        border: none;
                        padding: 10px 15px;
                        margin: 0 5px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #0056b3;
                        }

                        &:active {
                            background-color: #007bff;
                        }
                    }
                }
            }
        }
    }
}