<div class="log-container">
    <div class="breadcrumb">Breadcrumb</div>
    <div class="main">
        <div class="top-bar">
            <h1>Nhật ký yêu cầu</h1>
            <div class="actions">
                <button class="btn-none">
                    <span class="material-icons">note_add</span>
                    Import
                </button>
                <button class="btn-none">
                    <span class="material-icons">upload_file</span>
                    Export
                </button>
            </div>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Search logs...">
            <button>
                <span class="material-icons">search</span>
            </button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Hành động</th>
                        <th>Yêu cầu HTTP</th>
                        <th>Người dùng</th>
                        <th>Địa chỉ IP</th>
                        <th>Thời gian thực hiện</th>
                        <th>Thời gian truy cập</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs">
                        <td>
                            <button class="dropdown-toggle" type="button">
                                <span class="material-icons">visibility</span>
                                Xem chi tiết
                            </button>
                        </td>
                        <td>{{log.statusCode}} {{log.method}} {{log.url}}</td>
                        <td>{{log.userName}} </td>
                        <td>{{log.clientIpAddress}} </td>
                        <td>{{(log.duration / 1000).toFixed(2)}} giây </td>
                        <td>{{ formatDate(log.createdAt) }}</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div class="total">
                    <p>Tổng cộng {{totalItems}}</p>
                </div>
                <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                    (pageChanged)="onPageChange($event)">
                </app-pagination>
            </div>
        </div>
    </div>
</div>