<div class="user-container">
    <div class="breadcrumb">Breadcrumb</div>
    <div class="main">
        <div class="top-bar">
            <h1>Người dùng</h1>
            <div class="actions">
                <button class="btn-none">
                    <span class="material-icons">note_add</span>
                    Import
                </button>
                <button class="btn-none">
                    <span class="material-icons">upload_file</span>
                    Export
                </button>
                <button class="btn">
                    <span class="material-icons">add</span>
                    Thêm người dùng
                </button>
            </div>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Search users...">
            <button>
                <span class="material-icons">search</span>
            </button>
        </div>
        <div class="table-container" (click)="onClickOutside($event)">
            <table>
                <thead>
                    <tr>
                        <th>Hành động</th>
                        <th>Họ và Tên</th>
                        <th>Email</th>
                        <th>Quyền</th>
                        <th>Ngày tham gia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>
                            <div class="dropdown">
                                <button class="dropdown-toggle" (click)="toggleDropdown($event, user.id)"
                                    [ngClass]="{'open': isDropdownOpen[user.id]}" type="button">
                                    <span class="material-icons">settings</span>
                                    Actions
                                </button>
                                <ul class="dropdown-menu" [class.show]="isDropdownOpen[user.id]">
                                    <li><button class="dropdown-item">Xem chi tiết</button></li>
                                    <li><button class="dropdown-item">Sửa người dùng</button></li>
                                    <li><button class="dropdown-item">Xóa người dùng</button></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role.name }}</td>
                        <td>{{ formatDate(user.createdAt) }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-bottom">
                <div class="total">
                    <p>Tổng cộng {{totalItems}}</p>
                </div>
                <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                    (pageChanged)="onPageChange($event)">
                </app-pagination>
            </div>
        </div>
    </div>
</div>