.user-container {

    .breadcrumb {
        height: 30px;

        .breadcrumb-nav {
            display: flex;
            align-items: center;
            column-gap: 10px;
            list-style: none;
            margin-left: 10px;

            .breadcrumb-nav-item {
                display: flex;
                align-items: center;
                justify-self: center;
                font-size: 14px;

                .material-icons {
                    margin-right: 5px;
                    font-size: 14px;
                }

                &:hover .material-icons {
                    color: var(--bs-blue);
                }
            }

            .line-item {
                height: 30px;
                width: 1.5px;
                background-color: var(--bs-white);
            }
        }

        .breadcrumb-line {
            height: 1.5px;
            width: 100%;
            background-color: var(--bs-white);
        }
    }

    .main {
        margin: 0;
        padding: 15px 25px;
        margin-bottom: 30px;

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 24px;
                color: var(--bs-black);
            }

            .actions {
                display: flex;
                align-items: center;

                .btn {
                    height: 32px;
                    margin-left: 10px;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: var(--bs-blue);
                    color: var(--bs-white);
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: var(--bs-blue-dark);
                    }

                    .material-icons {
                        font-size: 0.8rem;
                        margin-right: 5px;
                    }
                }

                .btn-none {
                    height: 32px;
                    margin-left: 10px;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: var(--bs-white);
                    color: var(--bs-blue);
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: var(--bs-blue);
                        color: var(--bs-white);
                    }

                    .material-icons {
                        font-size: 0.8rem;
                        margin-right: 5px;
                    }
                }
            }
        }

        .search-bar {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            padding: 20px 30px;
            background-color: var(--bs-white);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            input {
                flex: 1;
                padding: 10px;
                border: 1px solid var(--bs-black-100);
                background-color: var(--bs-gray-200);
                outline: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                font-size: 1rem;
            }

            button {
                width: 50px;
                border: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: var(--bs-blue);
                color: var(--bs-white);
                transition: background-color 0.3s ease;
                padding-top: 5px;

                &:hover {
                    background-color: var(--bs-blue-dark);
                }

                .material-icons {
                    font-size: 1.2rem;
                }
            }
        }


        .table-container {
            background-color: var(--bs-white);
            border-radius: 8px;

            table {
                width: 100%;
                border-collapse: collapse;

                thead {
                    border-radius: 8px;

                    th {
                        padding: 10px;
                        text-align: left;

                        &:first-child {
                            border-top-left-radius: 8px;
                        }

                        &:last-child {
                            border-top-right-radius: 8px;
                        }
                    }
                }

                th,
                td {
                    padding: 10px;
                    border-bottom: 1px solid var(--bs-gray-200);
                }

                tbody {
                    tr {
                        &:hover {
                            background-color: var(--bs-gray-200);
                        }

                        td {
                            .dropdown {
                                position: relative;
                                display: inline-block;

                                .dropdown-toggle {
                                    border-radius: 8px;
                                    border: none;
                                    background: var(--bs-blue);
                                    color: var(--bs-white);
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                    padding: 6px;

                                    .material-icons {
                                        font-size: 1.2rem;
                                        color: var(--bs-white);
                                        margin-right: 5px;
                                    }

                                    &::after {
                                        margin-left: 5px;
                                        font-size: 1.2rem;
                                        color: var(--bs-white);
                                        font-family: 'Material Icons';
                                        content: 'keyboard_arrow_down';
                                    }

                                    &.open::after {
                                        content: 'keyboard_arrow_up'; // Thay đổi thành mũi tên lên khi mở
                                    }

                                    &:hover {
                                        background-color: var(--bs-blue-dark);
                                    }
                                }

                                .dropdown-menu {
                                    background-color: var(--bs-white);
                                    border-radius: 8px;
                                    z-index: 1000; // Đảm bảo menu nổi trên các phần tử khác
                                    position: absolute; // Giữ menu ngay bên dưới nút
                                    display: none;
                                    list-style: none;
                                    border: 1px solid var(--bs-gray-200);
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                    margin-top: 3px;

                                    &.show {
                                        display: block;
                                    }

                                    .dropdown-item {
                                        background-color: var(--bs-white);
                                        width: 150px;
                                        padding: 10px 16px;
                                        cursor: pointer;
                                        display: flex;
                                        border: none;

                                        &:hover {
                                            background-color: var(--bs-gray-200);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .table-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 30px;
                padding-top: 20px;

                .total {
                    color: var(--bs-black);
                    font-size: 16px;
                }
            }
        }
    }
}