<div class="user-container">
    <div class="breadcrumb">
        <ol class="breadcumrb-nav">
            <li class="breadcumrb-nav-item">
                <span class="material-icons">admin_panel_settings</span>Administration
            </li>
            <div class="line-item"></div>
            <li class="breadcumrb-nav-item">
                <span class="material-icons">vpn_key</span>
                Permissions
            </li>
        </ol>
        <div class="breadcrumb-line"></div>
    </div>
    <div class="main">
        <div class="top-bar">
            <h1>Permission</h1>
            <div class="actions">
                <button class="btn" type="button" (click)="openDialogCreate()"
                    *ngIf="hasPermission('Permission.Create')">
                    <span class="material-icons">add</span>
                    Thêm permission
                </button>
            </div>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Search permissions...">
            <button>
                <span class="material-icons">search</span>
            </button>
        </div>
        <!-- Skeleton loader giống với từng hàng của bảng -->
        <div *ngIf="isLoading" class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Hành động</th>
                        <th>Tên</th>
                        <th>Tên hiển thị</th>
                        <th>Chi tiết</th>
                        <th>Số quyền dùng</th>
                        <th>Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of [1,2,3,4,5]">
                        <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></td>
                    </tr>
                </tbody>
            </table>
            <!-- Bảng -->
            <div class="table-bottom">
                <div class="total">
                    Tổng cộng 0
                </div>
                <app-pagination />
            </div>
        </div>

        <div *ngIf="!isLoading" class="table-container" (click)="onClickOutside($event)">
            <table>
                <thead>
                    <tr>
                        <th>Hành động</th>
                        <th>Tên</th>
                        <th>Tên hiển thị</th>
                        <th>Chi tiết</th>
                        <th>Số quyền dùng</th>
                        <th>Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of listPermission">
                        <td>
                            <div class="dropdown" [class.show]="isDropdownOpen[p.id]">
                                <button class="dropdown-toggle" (click)="toggleDropdown($event, p.id)"
                                    [ngClass]="{'open': isDropdownOpen[p.id]}" type="button">
                                    <span class="material-icons">settings</span>
                                    Actions
                                </button>
                                <ul class="dropdown-menu" [class.show]="isDropdownOpen[p.id]">
                                    <li>
                                        <button class="dropdown-item" type="button" (click)="openDialogDetail(p.id)">
                                            Xem chi tiết
                                        </button>
                                    </li>
                                    <li *ngIf="hasPermission('Permission.Update')">
                                        <button class="dropdown-item" type="button" (click)="openDialogUpdate(p.id)">
                                            Sửa permission
                                        </button>
                                    </li>
                                    <li *ngIf="hasPermission('Permission.Delete')">
                                        <button class="dropdown-item" type="button" (click)="openDialogDelete(p.id)">
                                            Xóa permission
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>{{ p.permissionName }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.description}}</td>
                        <td>{{ p.countRole }}</td>
                        <td>{{ formatDate(p.createdAt) }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-bottom">
                <div class="total">
                    <p>Tổng cộng {{totalItems}}</p>
                </div>
                <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                    (pageChanged)="onPageChange($event)">
                </app-pagination>
            </div>
        </div>
    </div>
</div>